/*====================
     GENERAL STYLING 
  ====================*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  /* Color Variables */
  --primary-white: #fff;
  --primary-black: #000;
  --primary-light-gray: #eee;
}
body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

/*====================
  ====================*/




  

/*======================
    RESPONSIVE STYLING
  ======================*/
