/*====================
     GENERAL STYLING 
  ====================*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  /* Color Variables */
  --primary-purple: rgb(195, 142, 245);
  --primary-orange: rgb(248, 178, 49);
  --primary-pink: pink;
  --primary-green: rgb(113, 239, 113);
  --primary-skyblue: rgb(118, 225, 198);
}
body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

/*====================
  ====================*/

.flex-wrapper {
  height: 100%;
  display: flex;
  /*
   flex-flow:
   Specifies the direction of a flex container, 
   as well as its wrapping behavior. 
  */
  flex-flow: row wrap;
  text-align: center;
  text-transform: capitalize;
}
.flex-wrapper > * {
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  flex: 1 100%;
}
.header,
.main,
.left-aside,
.right-aside,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  background-color: var(--primary-purple);
  height: 22rem;
  font-size: 2.6rem;
}
.main {
  background-color: var(--primary-pink);
  height: 30rem;
}
div > :not(.header) {
  font-size: 2.2rem;
}
.left-aside {
  background-color: var(--primary-orange);
}
.right-aside {
  background-color: var(--primary-green);
}
.footer {
  background-color: var(--primary-skyblue);

  height: 16rem;
}

/*====================
   RESPONSIVE STYLING
  ====================*/
@media all and (min-width: 800px) {
  .main {
    flex: 3;
  }
  .left-aside {
    order: 1;
  }
  .right-aside {
    order: 2;
  }
  .main {
    order: 2;
  }
  .footer {
    order: 4;
  }
}
@media all and (min-width: 600px) {
  .aside {
    flex: 1;
  }
}
